
<link href="https://fonts.googleapis.com/css?family=Candal|Meera+Inimai" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./card-actii.html">
<link rel="import" href="./menu-actii.html">
<link rel="import" href="./modal-actii.html">

<dom-module id="card-wrapper">
    <template>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            :host(){
                display: block;
            }
            .Cards-wrapper{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 5px;
                /*width: 80%;*/
                padding: 0 10%;
                margin: 0 auto;
                font-family: 'Meera Inimai', sans-serif;
                @apply(--card-wrapper-cards-wrapper);
            }
            .menu-view{
                font-family: 'Candal', sans-serif;
                background-color: #043A71;
                color: #EFC036;
                /*width: 80%;*/
                padding: 0 10%;
                margin: 0 auto;
                @apply(--card-wrapper-menu-view);
            }
            @media (max-width: 768px) {
                .Cards-wrapper{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width: 768px) {
                .Cards-wrapper{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width: 480px) {
                .Cards-wrapper{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        </style>
        <iron-ajax id="peticionGET"
            url="[[urlValue]]"
            content-type="application/json"
            handle-as="json"
            last-response="{{success}}">
        </iron-ajax>
        <div class="menu-view"><menu-actii
            menu-options="[[menuOpciones]]" 
            selected-option="{{preSelected}}"
            on-selected-option-event="getSelectedOption"
            menu-options-social="[[network]]"
        ></menu-actii></div>
        <div class="Cards-wrapper">
            <template is="dom-repeat" items="[[data]]" as="palomitas">
                <card-actii information="[[palomitas]]" on-tap="openModal"></card-actii>
            </template>
            <modal-actii palomitas-info="[[infoModal]]" show="{{open}}"></modal-actii>
        </div>
    </template>
    <script>
        Polymer ({
            is: 'card-wrapper',
            properties :{
                success:{
                    type: Object,
                    observer : 'getData'
                },
                data:{
                    type: Array
                },
                menuOpciones :{
                    type: Array
                },
                preSelected :{
                    type: Object
                },
                todos:{
                    type: Object,
                    value: function(){
                        return {};
                    }
                },
                urlValue :{
                    type: String,
                },
                rootUrl :{
                    type: String,
                    value: 'http://127.0.0.1:8081/'
                },
                infoModal :{
                    type: Object
                },
                open:{
                    type: Boolean,
                    value: false,
                },
                network :{
                    type: Array
                }
            },
            
            observers: ['checkAll(todos)'],
                        /*listeners :{
                //clave nombre del evento que va a ser escuchado (valor la funcion que se ejecutara cuando el evento sea lanzado)
                'selected-option-event' : 'getSelectedOption'

            },*/
            /*attached : function(){
                var url = this.rootUrl+'social.json';
                this.set('urlValue', url); 
                this.$.peticionGET.generateRequest();
            },*/
            getData : function(response){
                var updateData = response.data.map(function(item, index){
                    item.image = baseURl + item.image;
                    return item;
                });
                if(this.get('urlValue').indexOf('social') == -1)
                {
                    var obj = this.get('todos');
                    obj[this.preSelected.event] = updateData;
                    this.set('todos',  JSON.parse(JSON.stringify(obj))); 
                    this.set('data', this.todos[this.preSelected.event]);
                }
                else{
                    this.set('network', updateData);
                }
            },
            getSelectedOption : function(e, detail){
                var newUrl = detail.event+'.json';
                var url = this.rootUrl+newUrl;
                this.set('urlValue', url);
                //debugger
                if(this.todos[detail.event])
                {
                    this.set('data', this.todos[detail.event]);
                }
                else{
                    this.$.peticionGET.generateRequest();
                }
            },
            checkAll: function(todos){
                var keys = Object.keys(todos);
                if(keys.length === 3)
                {
                
                    var menuOptions = this.get('menuOpciones');
                    var newOption  = {
                                    name :'TODOS',
                                    event : 'todos'
                                }
                    menuOptions = menuOptions.concat(newOption); 
                    this.set('menuOpciones', menuOptions);
                    var array =[];
                    keys.map(function(index){
                        todos[index].map(function(value){
                            array.push(value);
                        });
                    });
                    var array = this.todos[keys[0]].concat( this.todos[keys[1]] ).concat( this.todos[keys[2]] );
                    this.todos['todos'] = array;
                    this.set('data', this.todos['todos']);
                    /*var obj = this.get('todos');
                    obj['todos'] = array;
                    this.set('todos',  JSON.parse(JSON.stringify(obj)));*/
                } 
            },
            openModal : function(e){
                var data = Polymer.dom(e).localTarget.information;
                this.set('infoModal', data);
                this.set('open', true);
            }
        })
    </script>
</dom-module>