
<link rel="import" href="../bower_components/polymer/polymer.html">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<dom-module id="card-actii">
    <template>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            :host(){
                display: block;
            }
            .Card-container{
                /*width: 30%;*/
                cursor: pointer;
                background-color: #fff;
                margin: 20px;
                @apply(--card-actii-card-container);
            }
            .Card-container:hover{
                opacity: 0.5;
            }
            .Card-container:active{
                transform: translateY(0.2rem);
            }
            .Card-imageWrapper{
                max-width: 100%;
            }
            .Card-image{
                width: 100%;
            }
            .Card-marcaFooter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #0091ff;
                background-color: #fff;
                padding: 0 16px;
                /*@apply(--card-actii-card-marca-footer);*/
            }
            .Card-iconPalomitas{
                /*@apply(--card-actii-card-icon-palomitas);*/
            }
            .Card-marcaPalomitas{
                font-size: 16px;
                /*@apply(--card-actii-card-marca-palomitas);*/
            }
        </style>
        <div class="Card-container">
            <div class="Card-imageWrapper">
                <img class="Card-image" src="[[information.image]]" alt="palomitas">
            </div>
            <div class="Card-marcaFooter">
                <div class="Card-iconPalomitas"><img src="[[palomitasIcon]]" alt="palomitas"></div>
                <div class="Card-marcaPalomitas"><span>[[palomitasMarca]]</span></div>
            </div>
        </div>
    </template>
    <script>
        Polymer ({
            is: 'card-actii',
            properties :{
                palomitasIcon :{
                    type: String,
                    value: function(){
                        return  baseURl + 'icon-palomitas.png'
                    }
                },
                palomitasMarca :{
                    type: String,
                    value: 'ACT II®'
                },
                information:{
                    type: Object
                }
            }
        })
    </script>
</dom-module>