
<link rel="import" href="../bower_components/polymer/polymer.html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<dom-module id="menu-actii">
    <template>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box; 
            }
            :host(){
                display: block;
            }
            .Menu-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 0;
                @apply(--menu-container);
            }
            .Menu-option{
            }
            .Menu-list-options{
                display: flex;
            }
            .Menu-list-option{
                list-style: none;
                font-size: 26px;
                font-weight: 700;
                padding: 0 10px;
                cursor: pointer;
            }
            .Menu-list-option:hover{
                color: #FFF;
            }
            .Menu-title-social{
                font-size: 16px;
                display: block;
                text-align: center;
            }
            .Menu-list-redes{
                list-style: none;
                padding: 0 5px;
                cursor: pointer;
            }
            .clickEffect:active{
                transform: translateY(0.2rem);
            }
            @media (max-width: 680px) {
                .Menu-container{
                    flex-direction: column-reverse;
                    justify-content: center;
                }
                .Menu-title-social{
                    font-size: 14px;
                }
                .Menu-list-redes-icon{
                    width: 75%;
                    margin: 5px 0;
                }
            }
            @media (max-width: 480px) {
                .Menu-list-option{
                    font-size: 20px;
                }
                .Menu-title-social{
                    font-size: 12px;
                }
            }
            @media (max-width: 320px) {
                .Menu-list-option{
                    font-size: 14px;
                }
            }
        </style>
        <nav class="Menu-container">
            <div class="Menu-option">
                <ul class="Menu-list-options">
                    <template is="dom-repeat" items="[[menuOptions]]" as="option">
                        <li class="Menu-list-option" on-tap="setSelected" data-name$="[[option.name]]" data-value$="[[option.event]]">[[option.name]]</li>
                    </template>
                </ul>
            </div>
            <div class="Menu-opcion">
                <div class="Menu-option">
                    <span class="Menu-title-social">SIGUENOS EN:</span>
                    <ul class="Menu-list-options">
                        <template is="dom-repeat" items="[[menuOptionsSocial]]" as="option">
                            <li class="Menu-list-redes clickEffect"> 
                                <img class="Menu-list-redes-icon" src="[[option]]" alt="network-social"> 
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>
    </template>
    <script>
        Polymer ({
            is: 'menu-actii',
            properties :{
                menuOptions :{
                    type: Array
                },
                selectedOption:{
                    type: Object,
                    observer: 'sendSelected',
                    notify : true
                },
                menuOptionsSocial: {
                    type: Array,
                    value: function(){
                        return ['../../assets/img/facebook.png',
                                '../../assets/img/youtube.png',
                                '../../assets/img/instagram.png',
                                '../../assets/img/vine.png']
                    }
                }
            },
            setSelected : function(e){
                var type =  e.currentTarget.getAttribute('data-value');
                var name =  e.currentTarget.getAttribute('data-name');
                this.set('selectedOption', {
                    name : name,
                    event: type
                });
                
            },
            sendSelected : function(){
                this.fire ('selected-option-event', this.selectedOption);
            }

        })
    </script>
</dom-module>
