
<link rel="import" href="../bower_components/polymer/polymer.html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<dom-module id="modal-actii">
    <template>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }
            .Modal-view-wrapper{
                display: none;
                background-color: rgba(11, 0, 113, 0.4);
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .Modal-container{
                background-color: rgba(255, 255, 255, 0.3);
                position: relative;
                padding: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 490px;
            }
            .Modal-image{
                max-width: 100%;
                margin: 0 auto;
            }
            .image{
                width: 100%;
            }
            .Modal-description{
                /*width: 50%;*/
            }
            .Modal-description-text{
               display: block;
               color: #FFF;     
            }
            .Modal-close-icon{
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                position: absolute;
                border-radius: 20px;
                padding: 3px 6px;
                width: 30px;
                height: 30px;
                background-color: #0199DA;
                right: -10px;
                top: -10px;
            }
            .Modal-close-icon:after{
               content:"\00d7";
               color: #FFF; 
               font-size: 25px;
            }
            .abierto{
                display: block;
            }
            .Modal-facebook-button button{
                background-color: #2556A1;
                color: #FFF;
                border: none;
                width: 190px;
                height: 35px;
                margin: 10px 0;
            }
            .Modal-description{
                padding: 10px 0;
            }

        </style>
        <div class$="Modal-view-wrapper [[openned]]">
            <div class="Modal-container">
                <div class="Modal-close-icon" on-tap="closeModal" ></div>
                <div class="Modal-image">
                    <img class="image" src="[[palomitasInfo.image]]" alt="palomitas">
                </div>
                <div class="Modal-description">
                    <span class="Modal-description-text">[[palomitasInfo.description]]</span>
                    <span class="Modal-description-text">[[palomitasInfo.product]]</span>
                    <span class="Modal-description-text">[[palomitasInfo.hashtag]]</span>
                </div>
                <div class="Modal-facebook-button">
                    <button>Compartir en facebook</button>
                </div>
            </div>    
        </div>
    </template>
    <script>
        Polymer ({
            is: 'modal-actii',
            properties :{
                palomitasInfo :{
                    type: Object
                },
                show:{
                    type: Boolean,
                    observer : 'toggleModal',
                    notify: true
                },
                openned: {
                    type: String,
                    value: ''
                }
            },
            toggleModal : function(show){
                var clase = '';
                if(show)
                    clase = 'abierto';
                this.set('openned', clase);
            },
            closeModal : function(){
                var value = false;
                this.set('show', value);
            }
        })
    </script>
</dom-module>